@import url("./components/section/Section.css");
@import url("./components/footer/Footer.css");
:root{
    --main-color: #08090d;
    --secondary-color: #2c2e33;
    --third-color: #f1f5f9;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    color: var(--main-color);
    background-color: #08090d;
}

h1,
h2 {
    font-weight: 600;
    font-size: 32px;
    margin-bottom: 32px;
}

