:root{
    --cor-primaria: #020617;
    --cor-secundaria: #e2e8f0;
}

footer {
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 64px 80px;
    color: var(--cor-secundaria)
}

footer img,
footer .titulo {
    display: block;
    font-weight: 600;
    margin-bottom: 24px;
}

footer nav a {
    color: var(--cor-secundaria);
    display: block;
    margin-bottom: 16px;
    text-decoration: none;
}

footer p {
    margin-bottom: 16px;
    max-width: 350px;
}

footer p a {
    color: #263138;
    text-decoration: none;
}

#copyright {
    background-color: #263138;
    padding: 24px;
    text-align: center;
    color: #ffffff;
}

#copyright a {
    color: #ff9a6c;
}
