
:root{
    --cor-primaria: #020617;
    --cor-secundaria: #e2e8f0;
}


    #inicio {
        display: flex;
        align-items: center;
        gap: 32px;
        padding: 24px 80px 128px;
        /*padding: 0;*/
        position: relative;
        background-image: linear-gradient(var(--cor-primaria), #0f172a) ;
        background-size: cover;
        color: var(--cor-secundaria);
        height: 580px;
    }


    #aboutUs {
        display: flex;
        align-items: center;
        align-content: center;
        align-self: center;
        margin-left: 25%;
        gap: 64px;
        padding: 64px 80px;
    }

    #aboutUs li {
        margin-bottom: 16px;
        margin-left: 32px;
    }



    #cards {
         padding: 64px 80px;
         text-align: center;
     }

    #cards .paragrafo {
        max-width: 950px;
        margin: 0 auto;
    }

    .card {
        width: 18em;
        height: 14em;
        background: #171717;
        transition: 1s ease-in-out;
        clip-path: polygon(
                30px 0%,
                100% 0,
                100% calc(100% - 30px),
                calc(100% - 30px) 100%,
                0 100%,
                0% 30px
        );
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        display: inline-block;
        flex-direction: column;
        margin: 5px;
    }
    .card-content {
        margin-top: 2em;
    }

    .card img {
        width: 4.8em;
        height: 4.8em;
        border-radius: 15px;
        margin: auto;
    }


    .card span{
        font-weight: bold;
        color: #e2e8f0;
        text-align: center;
        display: block;
        font-size: 1em;
        margin-top: 1em;
    }

    .card button {
        padding: 0.8em 1.7em;
        display: block;
        margin: auto;
        border-radius: 25px;
        border: none;
        font-weight: bold;
        background: #e2e8f0;
        color: rgb(0, 0, 0);
        transition: 0.4s ease-in-out;
        margin-top: 1em;
    }

    .card button:hover {
        background: var(--cor-secundaria);
        color: #e2e8f0;
        cursor: pointer;
    }


    #ourJob {
         display: flex;
         align-items: center;
         gap: 64px;
         padding: 64px 80px;
     }

    .duvida {
        position: relative;
    }

    .duvida h3 {
        border: 2px solid var(--cor-secundaria);
        border-radius: 8px;
        cursor: pointer;
        padding: 24px;
    }

    .duvida img {
        position: absolute;
        top: 32px;
        right: 24px;
    }

    .duvida .paragrafo {
        border-right: 1px solid var(--cor-secundaria);
        border-bottom: 1px solid var(--cor-secundaria);
        border-left: 1px solid var(--cor-secundaria);
        border-radius: 0 0 8px 8px;
        margin-top: -8px;
        padding: 0 24px;
        height: 0;
        opacity: 0;
        overflow: hidden;
        transition: 0.2s;
    }

    .duvida.ativa .paragrafo {
        height: fit-content;
        opacity: 1;
        padding: 24px;
    }
    .paragrafo {
        line-height: 150%;
        margin-bottom: 32px;
    }

    .botao {
        background-color: var(--cor-secundaria);
        padding: 16px 32px;
        border-radius: 8px;
        color: var(--cor-primaria);
        text-decoration: none;
    }

    .botao-transparente {
        background-color: transparent;
        color: var(--cor-secundaria);
        padding: 16px 32px;
        text-underline-offset: 4px;
    }

    .absolute {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: -10;
    }



